<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.iukonline.amule.android.amuleremote"
      android:versionCode="1"
      android:versionName="0.1">
    <uses-sdk android:targetSdkVersion="13" android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_name" android:name=".AmuleControllerApplication" android:icon="@drawable/amule_icon">
        <activity android:name=".AmuleRemoteActivity"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.Sherlock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
			    <data android:scheme="ed2k" />
			    <action android:name="android.intent.action.VIEW" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" /> 
			</intent-filter>
        </activity>
        <activity android:name=".AmuleControllerPreferences">
        </activity>
        <activity android:name=".PartFileActivity" android:theme="@style/Theme.Sherlock"></activity>
    </application>
</manifest>